<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./register.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="main__section">
      <section class="register_section left">
        <h1>PostIt</h1>
      </section>
      <section class="register___section right">
        <header>
          <h1>Register</h1>
        </header>
        <main>
          <form action="" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" /><br />
            <label for="firstname">Firstname:</label>
            <input type="text" name="firstname" id="firstname" /><br />
            <label for="lastname">Lastname:</label>
            <input type="text" name="lastname" id="lastname" /><br />
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" /><br />
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" /><br />
            <label for="password2">Confirm Password:</label>
            <input type="password" name="password2" id="password2" /><br />
            <input type="submit" value="Register" class="btn__submit" />
          </form>
        </main>
      </section>
    </section>
  </body>
</html>
